<div class="mDiv">
    <div class="row">
        <div class="col-md-6">
            <h2 style="text-align: center;">{{companyName}}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7" style="margin-left: 70px;">
            <h5>Mobile telephone: {{mobileTelephone}}</h5>
        </div>
        <div class="col-md-2 offset-md-2" style="margin-left: 160px;">
            <form action="editCompanyInformation" method="GET">
                <input class="openVacancies" type="submit" value="Edit account information" />
            </form>
        </div>
    </div>
    <div class="row" style="margin-top: 5px;">
        <div class="col-md-7" style="margin-left: 70px;">
            <h5>E-Mail: {{email}}</h5>
        </div>
        <div class="col-md-2 offset-md-2">
            <form action="myVacancies" method="GET">
                <input class="openVacancies" type="submit" value="Open my vacancies" />
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h5 style="margin-left: 70px;">Description:</h5>
                <p style="margin-left: 70px;">
                   {{#if descNull}}No description{{else}}{{description}}{{/if}}</p>
        </div>
    </div>
</div>