<div class="mDiv">
    <form action="editAinf" method="post">
    <div class="row">
        <div class="col-md-4 offset-md-4" style="margin-top: 5px">
            <input class="openVacancies" type="submit" value="Save account information" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h4 style="margin-left: 70px;margin-top:10px">Surname:</h6>
                <input style="margin-left: 70px" type="text" name="Surname" value="{{surname}}">
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h4 style="margin-left: 70px;">Name:</h6>
                <input style="margin-left: 70px" type="text" name="Name" value="{{name}}">
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h4 style="margin-left: 70px;">Age:</h6>
                <input style="margin-left: 70px" type="text" name="Age" value="{{age}}">
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h4 style="margin-left: 70px;">E-Mail:</h6>
                <input style="margin-left: 70px" type="text" name="Email" value="{{email}}">
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h4 style="margin-left: 70px;">Mobile telephone:</h6>
                <input style="margin-left: 70px" type="text" name="MobileTelephone" value="{{mobileTelephone}}">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h4 style="margin-left: 70px;">Description:</h6>
                <input style="margin-left: 70px; margin-bottom: 5px;width:890px" type="text" name="Description"
                    value="{{description}}">
        </div>
    </div>
    </form>
</div>